<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="foot">
    <div class="bottom">
        <section class="hero is-medium is-dark is-bold">
            <div class="hero-foot">
                <div class="container">
                    <div class="columns is-multiline" style="margin-top: 6%;margin-bottom: 5%">
                        <div class="foot column is-8-desktop is-full-mobile">
                            <div class="columns is-multiline has-text-centered" th:if="${qb?.rows!=null}">
                                <div class="column is-4-desktop is-full-mobile" th:each="item:${qb?.rows}">
                                    <a th:href="${item?.bmstatus==0?item?.bmhref:'bottomDetail.html?bmid='+item?.bmid}" th:text="${item?.bmtitle}" href="javasrcipt:void(0)"></a>
                                </div>
                            </div>
                        </div>
                        <div class="footCode column is-4-desktop is-full-mobile">
                            <div class="columns is-multiline">
                                <div class="column is-3-desktop is-6-mobile is-pulled-left" th:each="item : ${qq.rows}">
                                    <img th:src="${item.imgpath}" />
                                </div>
                            </div>
                            <div th:if="${qc?.rows!=null}"  th:each="item:${qc?.rows}">
                                <label></label><span th:text="${item?.address}"></span><br/>
                                <span th:text="${item?.phone1}">400-*****-****</span><br/>
                                <span th:text="${item?.phone2}">0755-******-*****</span><br/>
                                <span th:text="${item?.email1}">qysm******.com</span><br/>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>