<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="foot">
    <div class="bottom">
        <section class="hero is-medium is-dark is-bold">
            <div class="hero-foot">
                <div class="container">
                    <div class="columns is-multiline" style="margin-top: 6%;margin-bottom: 5%">
                        <div class="foot column is-8-desktop is-full-mobile">
                            <div class="columns is-multiline has-text-centered" th:if="${qb?.rows!=null}" th:each="item:${qb?.rows}">
                                <div class="column is-4-desktop is-full-mobile">
                                    <a th:text="${item?.bmtitle}" href="javasrcipt:void(0)"></a>
                                </div>
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                                <!--                                <div class="column is-4-desktop is-full-mobile">-->
                                <!--                                    菜单-->
                                <!--                                </div>-->
                            </div>
                        </div>
                        <div class="footCode column is-4-desktop is-full-mobile">
                            <div class="columns is-multiline">
                                <div class="column is-3-desktop is-6-mobile is-pulled-left">
                                    <img th:src="@{~/images/qrcode.png}" alt="">
                                </div>
                                <div class="column is-3-desktop is-6-mobile is-pulled-left">
                                    <img th:src="@{~/images/qrcode.png}" alt="">
                                </div>
                            </div>
                            <div th:if="${qc?.rows!=null}"  th:each="item:${qc?.rows}">
                                <label></label><span th:text="${item?.address}"></span><br/>
                                <span th:text="${item?.phone1}">400-*****-****</span><br/>
                                <span th:text="${item?.phone2}">0755-******-*****</span><br/>
                                <span th:text="${item?.email1}">qysm******.com</span><br/>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
                    licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </div>
    </footer>

    <script th:src="@{~/js/jquery-3.4.1.min.js}"></script>

</div>
</body>
</html>