<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="foot">
    <div class="bottom">
        <section class="hero is-medium is-dark is-bold">
            <div class="hero-foot">
                <div class="container">
                    <div class="columns is-multiline" style="margin-top: 6%;margin-bottom: 5%">
                        <div class="foot column is-8-desktop is-full-mobile">
                            <div class="columns is-multiline has-text-centered">
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                                <div class="column is-4-desktop is-full-mobile">
                                    菜单
                                </div>
                            </div>
                        </div>
                        <div class="footCode column is-4-desktop is-full-mobile">
                            <div class="columns is-multiline">
                                <div class="column is-3-desktop is-6-mobile is-pulled-left">
                                    <img th:src="@{~/images/qrcode.png}" alt="">
                                </div>
                                <div class="column is-3-desktop is-6-mobile is-pulled-left">
                                    <img th:src="@{~/images/qrcode.png}" alt="">
                                </div>
                            </div>
                            <div>
                                <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span><br/>
                                <span>400-*****-****</span><br/>
                                <span>0755-******-*****</span><br/>
                                <span>qysm******.com</span><br/>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
                    licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>