<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
    <div class="content">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        首页
                    </a>

                    <a class="navbar-item">
                        关于起源
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            技术研发
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                ...
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            产品中心
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                ...
                            </a>
                        </div>
                    </div>

                    <a class="navbar-item">
                        企业新闻
                    </a>

                    <a class="navbar-item">
                        联系我们
                    </a>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
<style>
    .navbar.is-spaced {
        /*padding: 1rem 2rem;*/
        text-align: center;
    }
</style>
</html>