<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header('关于起源')">
<body>
<div class="rows">

    <div class="rows">
        <div class="columns">
            <div class="column is-full-desktop" style="margin-bottom:3rem;">
                <!--导航栏-->
                <div th:include="components/navbar :: navbar(${qt},${qp})"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <h1 style="font-size: 30px;color: #7EB0D4;text-align: center; margin-bottom: 1%" class="zoujing">走进起源</h1>
        </div>
        <div id="xuxian"></div>
        <div th:each="item:${qc.rows}" style="margin-top: 2%; ">
            <div style="width: 90%; margin: 0 auto;">
                <p th:utext="${item?.about}"></p>
            </div>
        </div>
    </div>

    <div th:include="components/foot :: foot"></div>
</div>
</body>
</html>