<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/header :: header(${bmdata.bmtitle})">
</head>
<body>
    <div class="rows">
        <div class="columns">
            <div class="column is-full-desktop" style="margin-bottom:1rem;">
                <!--导航栏-->
                <div th:include="components/navbar :: navbar(${qt},${qp})"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h1 style="font-size: 30px;color: #7EB0D4;text-align: center; margin-bottom: 1%" class="zoujing" th:text="${bmdata.bmtitle}"></h1>
        </div>
        <div id="xuxian"></div>
        <div class="columns is-multiline" style="margin-bottom:1%">
            <div class="column is-full">
                <div th:utext="${bmdata.bmdetail}"></div>
            </div>
        </div>
    </div>

    <div th:include="components/foot :: foot"></div>

</body>
</html>